@import url("https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&family=Markazi+Text:wght@400..700&display=swap");
:root {
  --primary-color-one: #495e57;
  --primary-color-two: #f4ce14;
  --primary-color-two-hover: #a28b18;
  --secondary-color-one: #ee9972;
  --secondary-color-two: #fbdabb;
  --secondary-color-three: #edefee;
  --secondary-color-four: #333333;
}

.bg--primary {
  background-color: var(--primary-color-one);
}

.bg--secondary {
  background-color: var(--primary-color-two);
}

.display-title {
  font-family: "Markazi Text", serif;
  font-weight: 500;
  font-size: 64px;
  line-height: 40px;
  color: var(--primary-color-two);
}

.display-subtitle {
  font-family: "Markazi Text", serif;
  font-weight: 500;
  font-size: 41px;
  line-height: 44px;
}

.lead-text {
  font-size: 18px;
  line-height: auto;
  font-weight: 500;
}

.p-text {
  color: #495e57;
  font-size: 16px;
  line-height: 1.5;
}

body * {
  box-sizing: border-box;
  font-family: "Karla", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

a {
  text-decoration: none;
  transition: ease-in-out 0.3s all;

  color: #333;
}

a:hover {
  color: #f4ce14;
}

/** General Typography **/
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 1em;
}

@media (max-width: 30em) {
  h1 {
    font-size: 1.85em;
  }
}

p {
  color: #495e57;
  font-size: 16px;
  margin: 1em 0 1em;
}

span {
  font-weight: normal;
}

img {
  display: block;
  width: 100%;
  max-width: auto;
  height: auto;
  border-radius: 16px;
}

.container {
  display: flex;
  margin: 0 auto;
  padding: 0 20px;
  max-width: 960px;
}

.btn {
  border-radius: 16px;
  padding: 16px 24px;
  display: inline-block;
}

.btn--primary {
  background-color: var(--primary-color-two);
  color: var(--secondary-color-four);
  font-weight: bold;
}

.btn--primary:hover {
  background-color: var(--primary-color-two-hover);
}

.btn--secondary {
  background-color: #fff;
  color: var(--primary-color-two);
}

/** Header Section **/
.header {
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .header__container {
    padding: 0 20px;
    max-width: 960px;
    width: 100%;
    height: 121px;
  }
}

.header__logo {
  width: 100%;
  max-width: 215px;
  height: 40px;
}

.nav ul,
.header__nav ul {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  padding: 0;
  gap: 28px;
  text-decoration: none;
}

.nav__list {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  padding: 0;
  font-weight: bold;
}

/** Hero Section **/

.hero {
  padding: 36px 0 72px;
}

.hero__container {
  position: relative;
}

@media (min-width: 768px) {
  .hero--text-left {
    padding: 60px 0;
  }
}

.hero--text-left .hero__container {
  display: flex;
  justify-content: space-between;
  gap: 35px;
}

.hero--text-left .hero__image {
  max-width: 100%;
  /* width: 100px; */
  position: absolute;
  height: 110px;
  right: 0;
  bottom: -130px;
  background-size: 100%;
  background-position: center;
}

@media (min-width: 30em) {
  .hero--text-left .hero__image {
    max-width: 50%;
    width: 100%;
    height: auto;
    margin-bottom: -100px;
    position: relative;
    bottom: initial;
    right: 10px;
    background-size: cover;
  }
}

.hero__container {
  width: 100%;
}

.hero__details {
  color: #fff;
}

@media (min-width: 768px) {
  .hero__details {
    max-width: 33%;
  }
}

.hero__title {
  margin-top: 24px;
  margin-bottom: 0;
  margin: 24px 0 0;
}

.hero__subtitle {
  margin: 0;
}

.hero__lead {
  margin-bottom: 0;
}

.hero__cta {
  margin-top: 24px;
  display: inline-block;
}

.home__image {
  border-radius: 16px;
  width: 100%;
  background-image: url("./img/img-hero-home.jpg");
  background-repeat: no-repeat;
}

/** Section General Styles **/

.section--after-hero h2 {
  margin: 0;
}
.section--after-hero .section__header {
  margin: 24px 0 48px;
}

@media (max-width: 768px) {
  .section--after-hero .section__header {
    margin-top: 40px;
    margin-bottom: 60px;
  }
}

.section__header {
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

@media (min-width: 768px) {
  .section__header {
    display: flex;
  }
}

.section__articles {
  display: grid;
  gap: 20px;
}

@media (min-width: 30em) {
  .section__articles {
    grid-template-columns: repeat(3, 1fr);
  }
}

/** Specials Section **/

.specials {
  margin: 60px 0;
}

.specials .container {
  flex-direction: column;
}

.specials__title-text {
  margin-bottom: 16px;
}

@media (min-width: 768px) {
  .specials__title-text {
    font-size: 4em;
    margin-bottom: 1em;
  }
}

.specials .section__article {
  border-radius: 16px 16px 0 0;
  background: var(--secondary-color-three);
  overflow: hidden;
}

.specials .section__article-image {
  height: 185px;
  background: var(--secondary-color-two);
}

.specials .section__article-details {
  padding: 24px;
}

.specials .section__article-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
}

.specials .section__article-title {
  font-size: 18px;
  font-weight: bold;
}

.specials .section__article-price {
  color: var(--secondary-color-one);
  font-weight: bold;
}

.specials .section__article-text {
  color: #495e57;
}

.specials .section__article-footer {
  font-weight: bold;
}
