@import url("https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&family=Markazi+Text:wght@400..700&display=swap");
:root {
  --primary-color-one: #495e57;
  --primary-color-two: #f4ce14;
  --primary-color-two-hover: #a28b18;
  --secondary-color-one: #ee9972;
  --secondary-color-two: #fbdabb;
  --secondary-color-three: #edefee;
  --secondary-color-four: #333333;
}

.bg--primary {
  background-color: var(--primary-color-one);
}

.bg--secondary {
  background-color: var(--primary-color-two);
}

.bg--secondary-light {
  background-color: var(--secondary-color-three);
}

.bg--secondary-dark {
  background-color: var(--secondary-color-two);
}

.display-title {
  font-family: "Markazi Text", serif;
  font-weight: 500;
  font-size: 64px;
  line-height: 40px;
  color: var(--primary-color-two);
}

.display-subtitle {
  font-family: "Markazi Text", serif;
  font-weight: 500;
  font-size: 41px;
  line-height: 44px;
}

.lead-text {
  font-size: 18px;
  line-height: auto;
  font-weight: 500;
}

.p-text {
  color: #495e57;
  font-size: 16px;
  line-height: 1.5;
}

body * {
  box-sizing: border-box;
  font-family: "Karla", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

input[type="submit"] {
  margin-top: 1em;
}
button,
input[type="submit"],
a {
  text-decoration: none;
  transition: ease-in-out 0.3s all;
  color: #333;
  font-size: 1em;
}

button:hover,
input[type="submit"]:hover,
a:hover {
  color: #f4ce14;
}

/** General Typography **/
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 1em;
}

@media (max-width: 30em) {
  h1 {
    font-size: 1.85em;
  }
}

p {
  font-size: 16px;
  margin: 1em 0 1em;
}

span {
  font-weight: normal;
}

img {
  display: block;
  width: 100%;
  max-width: auto;
  height: auto;
  border-radius: 16px;
}

input,
select {
  border-radius: 8px;
  padding: 10px;
  border: 1px solid #ccc;
  margin-bottom: 1em;
}

.container {
  display: flex;
  margin: 0 auto;
  padding: 0 20px;
  max-width: 960px;
}
.container.container--2-col {
  /* grid-template-areas: 'left right'; */
  grid-template-columns: 1fr;
  gap: 50px;
  display: grid;
}

@media (min-width: 768px) {
  .container.container--2-col {
    /* grid-template-areas: 'left right'; */
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
    display: grid;
  }
}

.btn {
  border-radius: 16px;
  padding: 16px 24px;
  display: inline-block;
  cursor: pointer;
  border: none;
}

.btn--primary {
  background-color: var(--primary-color-two);
  color: var(--secondary-color-four);
  font-weight: bold;
}

.btn--primary:hover {
  background-color: var(--primary-color-two-hover);
}

.btn--secondary {
  background-color: #fff;
  color: var(--primary-color-two);
}

/** Header Section **/
.header {
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  height: 60px;
  padding: 0 20px;
}

@media (min-width: 768px) {
  .header__container {
    max-width: 960px;
    width: 100%;
    height: 121px;
  }
}

@media (min-width: 768px) {
  .header__logo {
    width: 100%;
    max-width: 185px;
    height: 50px;
  }
}
.nav ul,
.header__nav ul {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  padding: 0;
  gap: 28px;
  text-decoration: none;
}

.nav__list {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  padding: 0;
  font-weight: bold;
}

/** Hero Section **/

.hero {
  padding: 36px 0 72px;
}

.hero__container {
  position: relative;
}

@media (min-width: 768px) {
  .hero--text-left {
    padding: 60px 0;
  }
}

.hero--text-left .hero__container {
  display: flex;
  justify-content: space-between;
  gap: 35px;
}

.hero--text-left .hero__image {
  max-width: 100%;
  /* width: 100px; */
  position: absolute;
  height: 110px;
  right: 0;
  bottom: -130px;
  background-size: 100%;
  background-position: center;
}

@media (min-width: 30em) {
  .hero--text-left .hero__image {
    max-width: 50%;
    width: 100%;
    height: auto;
    margin-bottom: -100px;
    position: relative;
    bottom: initial;
    /* right: 10px; */
    background-size: cover;
  }
}

.hero__container {
  width: 100%;
}

.hero__details {
  color: #fff;
}

@media (min-width: 768px) {
  .hero__details {
    max-width: 33%;
  }
}

.hero__title {
  margin-top: 24px;
  margin-bottom: 0;
  margin: 24px 0 0;
}

.hero__subtitle {
  margin: 0;
}

.hero__lead {
  margin-bottom: 0;
}

.hero__cta {
  margin-top: 24px;
  display: inline-block;
}

.home__image {
  border-radius: 16px;
  width: 100%;
  background-image: url("./img/img-hero-home.jpg");
  background-repeat: no-repeat;
}

/** Section General Styles **/

.section {
  padding: 60px 0;
}

.section--after-hero h2 {
  margin: 0;
}
.section--after-hero .section__header {
  margin: 24px 0 48px;
}

@media (max-width: 768px) {
  .section--after-hero .section__header {
    margin-top: 40px;
    margin-bottom: 60px;
  }
}

.section__header {
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

@media (min-width: 768px) {
  .section__header {
    display: flex;
  }
}

.section__articles {
  display: grid;
  gap: 20px;
}

@media (min-width: 768px) {
  .section__articles {
    grid-template-columns: repeat(3, 1fr);
  }
}

/** Specials Section **/

.specials {
  /* margin: 60px 0; */
}

.specials .container {
  flex-direction: column;
}

.section__title-text {
  margin-bottom: 16px;
}

@media (min-width: 768px) {
  .section__title-text {
    font-size: 4em;
    /* margin-bottom: 1em; */
  }
}

.specials .section__article {
  border-radius: 16px 16px 0 0;
  background: var(--secondary-color-three);
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.specials .section__article-image {
  height: 185px;
  background: var(--secondary-color-two);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.specials .section__article-details {
  padding: 24px;
}

@media (min-width: 768px) {
  .specials .section__article-details {
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
}

.specials .section__article-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
}

.specials .section__article-title {
  font-size: 18px;
  font-weight: bold;
}

.specials .section__article-price {
  color: var(--secondary-color-one);
  font-weight: bold;
}

.specials .section__article-text {
  color: #495e57;
}

.specials .section__article-footer {
  font-weight: bold;
  margin-top: auto;
}

.specials .icon-delivery img {
  width: 36px;
  height: 12px;
  display: inline-block;
  padding: 0 10px;
}

/** Reviews Section **/

.reviews .container {
  flex-direction: column;
}

@media (min-width: 768px) {
  .reviews .container {
    flex-direction: row;
  }
}

.reviews .section__header {
  max-width: 300px;
  justify-content: center;
}

@media (min-width: 768px) {
  .reviews .section__header {
    padding-right: 20px;
  }
}

.reviews .section__articles {
  grid-template-columns: repeat(1, 1fr);
}

@media (min-width: 768px) {
  .reviews .section__articles {
    grid-template-columns: repeat(2, 1fr);
  }
}

.reviews .section__article {
  position: relative;
  border-radius: 16px;
  background: #fff;
  padding: 28px 34px 24px 34px;
}

.reviews .section__article-header {
  display: flex;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
}

.reviews .section__article-title {
  margin: 0;
  padding: 0 5px;
  font-size: 18px;
}

.star-rating {
  padding: 0 0 0 5px;
}

.star-rating .fa-star,
.star-rating .fa-star-half-alt {
  color: var(--primary-color-two);
}

.review__image {
  width: 85px;
  height: 85px;
  background-position: top center;
  border-radius: 50%;
  background-size: 189%;
  background-repeat: no-repeat;
  margin-top: -35px;
  margin-left: -10px;
}

/** History Section **/

.history-container {
  display: flex;
  gap: 20px;
  flex-direction: column;
}

@media (min-width: 768px) {
  .history-container {
    flex-direction: row;
    gap: 50px;
  }
}
@media (min-width: 768px) {
  .history__image {
    width: 48%;
  }
}
/* .history-text {
  flex: 1 0 50%;
} */

@media (min-width: 768px) {
  .history-text {
    width: 50%;
  }
}

/** Booking Form **/

.booking-form {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

/** Sidebar **/

.sidebar .section__article-header {
  display: grid;
  /* grid-template-areas: "div h2"; */
  align-items: start;
  gap: 10px;
}

.sidebar .section__article-details {
  padding-top: 1em;
  border: 1px solid var(--primary-color-one);
  /* background-color: var(--secondary-color-three); */
  border-radius: 16px;
  padding: 1em 2em 2em;
  margin-top: 3em;
}

/** Confirmation **/

.confirmation .details {
  margin: 0 auto;
  /* max-width: 90%; */
  text-align: left;
}

/** Footer **/
.footer__img {
  width: 200px;
  height: 60px;
}
.footer__container {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: flex-start;
  margin: 0 auto;
  gap: 20px;
}

@media (min-width: 768px) {
  .footer__container {
    flex-direction: row;
  }
}

.footer__heading {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 1.5em;
}

/* .footer__container .footer__column:first-of-type {
  margin-right: 20px;
  flex: 1 1 30%;
} */

.footer__right {
  flex: 1 1 100%;
  flex-direction: column;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 40px;
}

@media (min-width: 768px) {
  .footer__right {
    flex-wrap: nowrap;
    flex-direction: row;
    flex: 1 1 50%;
    justify-content: right;
  }
}

.footer__column {
  flex: 1 1 40%;
  line-height: 1.3em;
  margin-bottom: 1em;
}

/* .footer__right .footer__column {
  flex: 0 1 25%;

  padding-right: 20px;
} */

.footer__column,
.footer__column p {
  font-size: 14px;
}

.footer__logo {
  max-width: 250px;
}

.footer ul {
  flex-direction: column;
  gap: 10px;
}

.footer__social {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-weight: bold;
}
